{% extends 'layout.twig' %}

{% block content %}
    <div class="ui menu inverted">
        <div class="ui container">
            <div class="header item">
                <a href="{{ url('dashboard') }}">CashLog</a>
            </div>
            <a href="#" class="item">Link</a>
            <a href="#" class="item">Link</a>
            <a href="#" class="item">Link</a>
            <div class="right menu">
                <a href="{{ url('signout') }}" class="item">Wyloguj się</a>
            </div>
        </div>
    </div>
    <div class="ui container">
        {% for alert in app.session.flashbag.get('success') %}
                <div class="ui message positive">{{ alert }}</div>
        {% endfor %}
        <h3 class="ui header">Nowa operacja</h3>
        <div class="ui divider"></div>
        {{ form_start(form, { 'attr': { 'class': 'ui form', 'novalidate': 'novalidate' } }) }}
            {% if not form.vars.valid %}
                <div class="ui negative message">
                    {% for child in form.children %}
                        {% for error in child.vars.errors %}
                            <p>{{ error.message }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
            <div class="fields">
                <div class="two wide field {% if not form.type.vars.valid %}error{% endif %}">
                    {{ form_widget(form.type) }}
                </div>
                <div class="eight wide field {% if not form.description.vars.valid %}error{% endif %}">
                    {{ form_widget(form.description, {'attr': {'placeholder': 'Opis...'}}) }}
                </div>
                <div class="four wide field {% if not form.cash.vars.valid %}error{% endif %}">
                    {{ form_widget(form.cash, {'attr': {'placeholder': 'Kwota...'}}) }}
                </div>
                <div class="two wide field">
                    <input class="ui button fluid" type="submit" value="Zapisz">
                </div>
            </div>
        {{ form_end(form) }}
        <h3 class="ui header">Lista operacji</h3>
        <div class="ui divider"></div>
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Komentarz</th>
                    <th>Zmiana salda</th>
                    <th>Bierzące saldo</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>{{ log.datetime|date('d.m.Y H:i') }}</td>
                        <td>{{ log.description }}</td>
                        <td class="{{ log.type == 0 ? 'positive' : 'negative' }}">{{ log.type == 0 ? '+' : '-' }}{{ log.cash }} PLN</td>
                        <td>{{ log.balance }} PLN</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}