{% extends 'logs/layout.twig' %}

{% block content %}
    <h3 clas="ui header">{{ 'passwordChange.header'|trans }}</h3>
    <div class="ui divider"></div>
    {{ form_start(form) }}
        {% if not form.vars.valid %}
            <div class="ui message negative">
                {% for children in form.children %}
                    {% for error in children.vars.errors %}
                        <p>{{ error.message|trans }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="field {% if not form.password.vars.valid %}error{% endif %}">
            {{ form_widget(form.password) }}
        </div>
        <div class="field {% if not form.newPassword.vars.valid %}error{% endif %}">
            {{ form_widget(form.newPassword) }}
        </div>
        {{ form_widget(form.submit) }}
    {{ form_end(form) }}
{% endblock %}