{% extends 'logs/layout.twig' %}

{% block content %}
    {% for alert in app.session.flashbag.get('success') %}
        <div class="ui message positive">{{ alert }}</div>
    {% endfor %}
    <h3 class="ui header">{{ 'newOperationLog.header'|trans }}</h3>
    <div class="ui divider"></div>
    {{ form_start(form) }}
        {% if not form.vars.valid %}
            <div class="ui negative message">
                {% for child in form.children %}
                    {% for error in child.vars.errors %}
                        <p>{{ error.message|trans }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="fields">
            <div class="two wide field {% if not form.type.vars.valid %}error{% endif %}">
                {{ form_widget(form.type) }}
            </div>
            <div class="seven wide field {% if not form.description.vars.valid %}error{% endif %}">
                {{ form_widget(form.description) }}
            </div>
            <div class="four wide field {% if not form.cash.vars.valid %}error{% endif %}">
                {{ form_widget(form.cash) }}
            </div>
            <div class="three wide field">
                {{ form_widget(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
    <h3 class="ui header">Lista operacji</h3>
    <div class="ui divider"></div>
    {% if logs %}
        <table class="ui striped table">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Data</th>
                    <th>Komentarz</th>
                    <th>Zmiana salda</th>
                    <th>Bierzące saldo</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                    <tr>
                        <td>
                            <div class="ui icon top left pointing dropdown mini button">
                                <i class="wrench icon"></i>
                                <div class="menu">
                                    <div class="item">
                                        <a href="{{ url('logs.edit', {'id': log.id}) }}">Edytuj</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>{{ log.id }}</td>
                        <td>{{ log.datetime|date('d.m.Y H:i') }}</td>
                        <td>{{ log.description }}</td>
                        <td class="{{ log.type == 0 ? 'positive' : 'negative' }}">{{ log.type == 0 ? '+' : '-' }}{{ log.cash }} PLN</td>
                        <td>{{ log.balance }} PLN</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% if logs.count() > ITEMS_PER_PAGE %}
                <tfoot>
                    <tr>
                        <th colspan="6">
                            <div class="ui right floated pagination menu">
                                {% if pagination.availablePages <= 5 %}
                                    {% for i in 1..pagination.availablePages %}
                                        <a href="?page={{ i }}" class="item{{ i == pagination.currentPage ? ' active' : '' }}">{{ i }}</a>
                                    {% endfor %}
                                {% else %}
                                    {% if pagination.currentPage < 5 %}
                                        {% for i in 1..5 %}
                                            <a href="?page={{ i }}" class="item{{ i == pagination.currentPage ? ' active' : '' }}">{{ i }}</a>
                                        {% endfor %}
                                        <div class="disabled item">...</div>
                                        <a href="?page={{ pagination.availablePages }}" class="item">{{ pagination.availablePages }}</a>
                                    {% elseif (pagination.availablePages - pagination.currentPage < 4) %}
                                        <a href="?page=1" class="item">1</a>
                                        <div class="disabled item">...</div>
                                        {% for i in (pagination.availablePages - 4)..pagination.availablePages %}
                                            <a href="?page={{ i }}" class="item{{ i == pagination.currentPage ? ' active' : '' }}">{{ i }}</a>
                                        {% endfor %}
                                    {% else %}
                                        <a href="?page=1" class="item">1</a>
                                        <div class="disabled item">...</div>
                                        {% for i in (pagination.currentPage - 2)..(pagination.currentPage + 2) %}
                                            <a href="?page={{ i }}" class="item{{ i == pagination.currentPage ? ' active' : '' }}">{{ i }}</a>
                                        {% endfor %}
                                        <div class="disabled item">...</div>
                                        <a href="?page={{ pagination.availablePages }}" class="item">{{ pagination.availablePages }}</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </th>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    {% else %}
        <div class="ui message info">Brak zapisów operacji.</div>
    {% endif %}
{% endblock %}