<!doctype html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <title>CashLog</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css">
        {% endblock %}
    </head>
    <body>
    <div class="ui menu inverted">
        <div class="ui container">
            <div class="header item">
                <a href="{{ url('logs.index') }}">{{ 'navbar.brand'|trans }}</a>
            </div>
            <a href="{{ url('logs.remove') }}" class="item">{{ 'navbar.removeLastOperationLog'|trans }}</a>
            <div class="right menu">
                <a href="{{ url('locale', {'_locale': 'en'}) }}" class="item"><i class="gb flag"></i></a>
                <a href="{{ url('locale', {'_locale': 'pl'}) }}" class="item"><i class="pl flag"></i></a>
                <div class="ui pointing dropdown link item">
                    <span class="text">{{ 'navbar.profile.header'|trans }}</span>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="{{ url('profile.changepassword') }}" class="item">{{ 'navbar.profile.changePassword'|trans }}</a>
                        <a href="{{ url('signout') }}" class="item">{{ 'navbar.profile.signout'|trans }}</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
        <div class="ui container">
            {% block content %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.js"></script>
            <script>
                $('.ui.dropdown').dropdown();
            </script>
        {% endblock %}
    </body>
</html>