{% extends 'logs/layout.twig' %}

{% block content %}
    <h3 class="ui header">{{ 'logRemove.header'|trans }}</h3>
    <div class="ui divider"></div>
    {% for alert in app.session.flashbag.get('error') %}
        <div class="ui message negative">{{ alert|trans }}</div>
    {% endfor %}
    {{ form_start(form) }}
        {% if not form.vars.valid %}
            <div class="ui negative message">
                <p>{{ form.children.password.vars.errors[0].message|trans }}</p>
            </div>
        {% endif %}
            <div class="field {% if not form.password.vars.valid %}error{% endif %}">
                {{ form_widget(form.password) }}
            </div>
            <div class="field">
                {{ form_widget(form.submit) }}
            </div>
    {{ form_end(form) }}
{% endblock %}