{% extends 'logs/layout.twig' %}

{% block content %}
    <h3 class="ui header">Edycja zapisu operacji</h3>
    <div class="ui divider"></div>
    {% for alert in app.session.flashbag.get('error') %}
        <div class="ui message negative">{{ alert }}</div>
    {% endfor %}
    {{ form_start(form) }}
        {% if not form.vars.valid %}
            <div class="ui message negative">
                {% for children in form.children %}
                    {% for error in children.vars.errors %}
                        <p>{{ error.message }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
        {% endif %}
        <div class="fields">
            <div class="ten wide field {% if not form.description.vars.valid %}error{% endif %}">
                {{ form_widget(form.description) }}
            </div>
            <div class="four wide field {% if not form.password.vars.valid %}error{% endif %}">
                {{ form_widget(form.password) }}
            </div>
            <div class="two wide field">
                {{ form_widget(form.submit) }}
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}